# IntelliJ
.idea
*.iws
*.iml
/out/

# JIRA plugin
atlassian-ide-plugin.xml

# Eclipse
.project
.classpath
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Maven
target/